---
import Layout from "../../layouts/Layout.astro";
export const pageTitle = "Java Test";
import JavaButton from "@components/JavaTest.astro";
---

<Layout title={pageTitle}>
  <h1>Java Assignment</h1>
  <p>
    This is dummy text
  </p>
  <JavaButton type="dark">This is a Dark Mode button</JavaButton>
  <JavaButton type="light">This is a Light Mode button</JavaButton>
</Layout>

<style>

</style>