---
import Layout from "../../layouts/Layout.astro";
export const pageTitle = "Java Test";
import JavaButton from "@components/JavaTest.astro";
---

<Layout title={pageTitle}>
  <h1>Java Assignment</h1>
  <p>
    In Astro, we usually write styling in a <code>&lt;style&gt;</code> tag within
    each component file. This lets us keep the styles for each component together
    with the component itself. Styles that are written in one component will not
    affect other components or pages, even if you use the same class names.
  </p>
  <JavaButton type="dark"></JavaButton>
</Layout>

<style>

</style>