---
import Layout from "../../layouts/Layout.astro";
export const pageTitle = "Java Test";
import JavaButton from "@components/JavaTest.astro";
---

<Layout title={pageTitle}>
  <h1>Java Assignment</h1>
  <p>
    This is dummy text
  </p>
  <JavaButton type="dark" scale="1.2">This is a Big Dark Mode button</JavaButton>
  <JavaButton type="light" scale="0.7">This is a Small Light Mode button</JavaButton>
</Layout>

<style>

</style>