---
import Layout from "../../layouts/Layout.astro";
export const pageTitle = "Project 1 Proposal";
---

<Layout compact title={pageTitle}>
  <h1>Project 01 Proposal</h1>
  <p>For my project 1 topic I would like to make a page for an upcoming event.</p>
  <p>
    I want to make a website that advertises an upcoming esports event on campus.
    For this event we already plan on inviting a bunch of other colleges out to compete.
    The opportunity to have a website that will advertise the event would be a big benefit in order to increase publicity.
  </p>
  <p>
    I would add a nav and a footer that could take you around the page.
    For the three sections I would do one about the event and what it is, 
    another about the invited colleges and the prizes, 
    and a last section about the location and how to sign up.
  </p>
</Layout>

<style>
  body{
    background-color: #003e7e;
  }
  *{
    border: 1px solid red;
  }
  h1 {
    color: white;
    margin-left: 50px;
  }

  p{
    width: 700px;
    margin-left: 80px;
  }


</style>
