---
import Layout from "../../layouts/Layout.astro";
export const pageTitle = "Project 1 Proposal";
import { Image } from "astro:assets";
import Peter_Placeholder from "@assets/project-01-proposal/Peter_Placeholder.png";
import Accordian from "@components/Accordian.astro";
import {Content as PageContent} from "src/components/markdown/project1proposal.md";
import {Content as ProjectContent} from "src/components/markdown/project1markdown.md";
---

<Layout compact title={pageTitle}>
  <PageContent></PageContent>
  <!-- <h1>Project 01 Proposal</h1>
  <p>For my project 1 topic I would like to make a page for an upcoming event.</p>
  <p>
    I want to make a website that advertises an upcoming esports event on campus.
    For this event we already plan on inviting a bunch of other colleges out to compete.
    The opportunity to have a website that will advertise the event would be a big benefit in order to increase publicity.
  </p>
  <p>
    I would add a nav and a footer that could take you around the page.
    For the three sections I would do one about the event and what it is, 
    another about the invited colleges and the prizes, 
    and a last section about the location and how to sign up.
  </p> -->
  <div class="separator"><p>Project 01 Markdown content:</p></div>
  <ProjectContent></ProjectContent>
</Layout>

<style>
  body{
    background-color: #003e7e;
  }
  *{
    
  }
  h1 {
    color: white;
    margin-left: 50px;
  }

  p{
    width: 700px;
    margin-left: 80px;
    
  }
  
  .separator{
    background-color: #000c4e;
    padding-top:15px;
    height: 100px;
    margin-top: 50px;
    margin-bottom: 20px;
  }

  #Peter{
    margin-left: 100px;
    width: 50px;
  }

  

</style>
