---
import Layout from "../layouts/Layout.astro";
import Button from "@components/Button.astro";
import Frame from "@components/Frame.astro";
---

<Layout title="Home" link="'/'">
  <h1>Hi!</h1>
  <p>This is my Design for the Web 2 landing page!</p>
  <p>
    Tyler Boggi
  </p>
</Layout>
