---
import Layout from "../layouts/Layout.astro";
import Button from "@components/Button.astro";
import Frame from "@components/Frame.astro";
import Accordian from "@components/Accordian.astro";
import {Content as SampleContent} from "../components/markdown/samplecontent.md";
---

<Layout title="Home" link="'/'">
  <h1>Hi!</h1>
  <p>This is my Design for the Web 2 landing page!</p>
  <p>
    Tyler Boggi
  </p>
  <SampleContent></SampleContent>
  <Accordian title="Accordian Test" text="this is accordian text"></Accordian>
</Layout>
