---
const {type} = Astro.props;
let bgColor = "white";
let textColor = "black";
let stroke = "black";

if (type === "dark"){
  bgColor = "black";
  textColor = "white";
  stroke = "white";
}
---

<p class="button-d" style=`color: ${textColor}; background-color: ${bgColor};` style=``><slot/></p>

<style>
    .button-d{
        transition: scale, 0.5s;
        font-size: 16px;
        padding: 10px;
        border-radius: 10px;
        display: flex;
        margin-left: 30%;
        top: 1rem;
        margin-bottom: 2rem;
        width:fit-content;
    }

    .button-d:hover{
        scale: 1.1;
        transition: scale, 0.5s; 
    }
</style>